@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: PT Sans;
  list-style: none;
}

a {
  text-decoration: none;
  color: #262626;
}

.App {
  position: relative;
  color: #262626;
  transition: background 0.2s ease-in-out;
}
.App.dark, .App.dark a {
  color: #fff;
}
.App.dark {
  background: #010916;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  background: rgba(255, 255, 255, 0.782);
  z-index: 20;
  transition: background 0.2s ease-in-out;
}
.navbar.dark {
  background: #010916a6;
}
.navbar .logo {
  font-weight: 700;
  font-size: 23px;
}
.navbar .logo span {
  color: #66adf3;
}
.navbar .section-links {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.6px;
}
.navbar .section-links .sec-link {
  position: relative;
  cursor: pointer;
}
.navbar .section-links .sec-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: #66adf3;
  border-radius: 3px;
  transition: width ease-in-out 0.3s;
}
.navbar .section-links .sec-link:hover::after {
  width: 100%;
}
.navbar .section-links .theme {
  margin-left: 50px;
  margin-top: 7px;
  cursor: pointer;
}
.navbar .section-links .theme .sunIcon {
  color: orange;
}
.navbar .section-links .theme .sunIcon:hover {
  color: rgba(255, 166, 0, 0.823);
}
.navbar .section-links .theme .moonIcon {
  color: #3261bf;
}
.navbar .section-links .theme .moonIcon:hover {
  color: #3261bfb4;
}
.navbar .hamburger {
  all: unset;
  display: none;
}

.side-menu {
  display: none;
}

.home {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  transition: background 0.2s ease-in-out;
}
.home.dark {
  background: #010916;
}
.home figure {
  position: relative;
  margin-top: -20px;
}
.home figure .moyo-img {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: #66adf343 solid 15px;
  transition: border 0.3s ease-in-out;
}
.home figure .moyo-img:hover {
  border-width: 19px;
}
.home div .intro-text {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.home div .intro-text span {
  color: #66adf3;
}
.home .arrow {
  width: 30px;
  height: 30px;
  background: #66adf3;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #fff !important;
  position: absolute;
  bottom: 30px;
  animation: animate 1s ease infinite alternate;
  cursor: pointer;
}

@keyframes animate {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 20px;
  }
}
.socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 10%;
  left: 4%;
}
.socials-icon {
  margin-bottom: 40px;
  cursor: pointer;
  width: 20px !important;
  color: #26262677;
}
.socials-icon:hover {
  color: #66adf3;
}
.socials.dark .socials-icon {
  color: #d0cece;
}
.socials.dark .socials-icon:hover {
  color: #66adf3;
}

.about {
  padding: 170px 120px;
  background: #fff;
  transition: background 0.2s ease-in-out;
}
.about.dark {
  background: #010916;
}
.about h1 {
  position: relative;
  display: block;
}
.about-container {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}
.about-container img {
  width: 50%;
  border-radius: 5px;
  border-left: 8px solid #66adf3;
  border-right: 8px solid #66adf3;
}
.about-container-text {
  width: 45%;
  font-size: 16px;
  line-height: 30px;
}

.works {
  padding: 100px 120px;
  background: #fff;
  transition: background 0.2s ease-in-out;
}
.works.dark {
  background: #010916;
}
.works h1 {
  text-align: right;
  position: relative;
  display: block;
}
.works h1::after {
  left: -320px;
}
.works .work-videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-top: 70px;
}
.works .work-videos div .caption {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #888888;
  font-weight: 500;
  margin-top: 5px;
}
.works .work-videos .vid {
  border: 5px solid #66adf3bb;
  border-radius: 10px;
  background: #262626;
}
.works .view-all {
  all: unset;
  display: flex;
  justify-content: center;
  margin: 60px auto 0;
  padding: 5px 8px;
  color: #66adf3;
  border: 1px solid #66adf3;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.works .view-all:hover {
  background: #66adf3;
  color: #fff;
}

.blogs {
  padding: 80px 120px;
  background: #fff;
  transition: background 0.2s ease-in-out;
}
.blogs.page {
  padding: 120px 0;
}
.blogs.page h1 {
  text-align: left;
}
.blogs.dark {
  background: #010916;
}
.blogs h1 {
  position: relative;
  display: block;
}
.blogs .blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 40px;
  margin-top: 30px;
}
.blogs .blog-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: -1px 2px 40px -4px rgba(0, 0, 0, 0.193);
  -webkit-box-shadow: -1px 2px 40px rgba(0, 0, 0, 0.193);
  -moz-box-shadow: -1px 2px 40px -4px rgba(0, 0, 0, 0.193);
  min-height: 235px;
  max-height: 300px;
  cursor: pointer;
}
.blogs .blog-card-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #66adf3;
  margin-bottom: 20px;
}
.blogs .blog-card-description span {
  font-size: 14px !important;
  font-style: normal !important;
  color: #a5a5a5 !important;
  font-weight: 600;
  background: none !important;
}
.blogs .blog-card-button {
  all: unset;
  padding: 3px 5px;
  color: #fff;
  background: #66adf3;
  border-radius: 3px;
  font-size: 12px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: -1px 2px 20px -4px #66adf36b;
}
.blogs .view-all {
  all: unset;
  display: flex;
  justify-content: center;
  margin: 60px auto 0;
  padding: 5px 8px;
  color: #66adf3;
  border: 1px solid #66adf3;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.blogs .view-all:hover {
  background: #66adf3;
  color: #fff;
}

.contact {
  text-align: center;
  padding: 50px 0 100px;
  transition: background 0.2s ease-in-out;
}
.contact.dark {
  background: #010916;
}
.contact h1 {
  margin-bottom: 20px;
}
.contact p {
  margin-bottom: 25px;
}
.contact a {
  background: #66adf3;
  color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.footer {
  text-align: center;
  color: #66adf3;
  font-size: 14px;
  padding-bottom: 30px;
  transition: background 0.2s ease-in-out;
}
.footer.dark {
  background: #010916;
}

.blogDetails {
  width: 100%;
  margin: 0 auto;
  padding: 120px 150px 50px;
  transition: background 0.2s ease-in-out;
}
.blogDetails.dark {
  background: #010916;
}
.blogDetails .title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.blogDetails .description span {
  font-size: 18px !important;
  color: #9b9b9b !important;
  background: none !important;
}
.blogDetails button {
  all: unset;
  padding: 5px 8px;
  color: #fff;
  background: #66adf3;
  border-radius: 3px;
  font-size: 18px;
  margin-top: 70px;
  cursor: pointer;
  box-shadow: -1px 2px 20px -4px #66adf36b;
}

@media (max-width: 1040px) {
  .navbar .section-links {
    width: 45%;
  }

  .about-container {
    flex-direction: column;
  }
  .about-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .about-container-text {
    width: 100%;
    margin-top: 30px;
    text-align: left;
  }

  .works .work-videos {
    display: block;
    text-align: center;
  }
  .works .work-videos div:not(:last-child) {
    margin-bottom: 30px;
  }

  .blogs .blog {
    grid-template-columns: 1fr 1fr;
  }

  .blogDetails {
    padding: 130px 90px 50px;
  }
  .blogDetails .description span {
    font-size: 16px !important;
    line-height: 25px !important;
  }
  .blogDetails .description span p {
    text-align: justify !important;
  }
}
@media (max-width: 800px) {
  .about h1::after, .works h1::after, .blogs h1::after {
    width: 200px;
  }

  .works h1::after {
    left: -230px;
  }

  .navbar .section-links {
    display: none;
  }

  .navbar .hamburger {
    display: flex;
    cursor: pointer;
  }
  .navbar .hamburger .icon {
    transform: scale(1.1);
  }

  .home div .intro-text {
    font-size: 28px;
  }

  .socials-icon {
    width: 18px !important;
  }

  .about {
    padding: 150px 90px 100px;
  }

  .about-container img {
    height: 250px;
  }
  .about-container-text {
    font-size: 15px;
  }

  .works {
    padding: 80px 90px;
  }
  .works .work-videos .vid {
    width: 100%;
  }

  .blogs {
    padding: 80px 90px;
  }
  .blogs .blog {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .blogs .blog-card {
    margin-bottom: 20px;
    min-height: 170px;
    max-height: 350px;
  }
  .blogs .blog-card-button {
    margin-top: 10px;
  }

  .blogDetails {
    padding: 120px 70px 50px;
  }
  .blogDetails .description span {
    font-size: 16px !important;
    line-height: 25px !important;
  }

  .side-menu {
    display: grid;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 30;
    background: #fff;
    place-items: center;
    text-align: center;
    transition: background 0.2s ease-in-out;
  }
  .side-menu.dark {
    background: #010916;
  }
  .side-menu button {
    all: unset;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
  .side-menu button .close {
    transform: scale(1.1);
  }
  .side-menu .sec-link {
    margin-bottom: 30px;
    font-size: 20px;
    position: relative;
  }
  .side-menu .sec-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #66adf3;
    border-radius: 3px;
    transition: width ease-in-out 0.3s;
  }
  .side-menu .sec-link:hover::after {
    width: 100%;
  }
  .side-menu .theme {
    cursor: pointer;
  }
  .side-menu .theme .sunIcon {
    color: orange;
  }
  .side-menu .theme .sunIcon:hover {
    color: rgba(255, 166, 0, 0.823);
  }
  .side-menu .theme .moonIcon {
    color: #3261bf;
  }
  .side-menu .theme .moonIcon:hover {
    color: #3261bfb4;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 28px;
  }

  .about h1::after, .works h1::after, .blogs h1::after {
    width: 0px;
  }

  .navbar {
    padding: 20px 30px;
  }
  .navbar .logo {
    font-size: 19px;
  }

  .home figure .moyo-img {
    width: 250px;
    height: 250px;
  }

  .home div .intro-text {
    font-size: 20px;
  }

  .about {
    padding: 100px 70px 80px;
  }

  .about-container-text {
    font-size: 15px;
    line-height: 25px;
  }

  .works {
    padding: 60px 70px;
  }

  .blogs {
    padding: 80px 70px;
  }
  .blogs .view-all {
    margin-top: 30px;
  }

  .blogDetails {
    padding: 100px 60px 50px;
  }
  .blogDetails .title {
    font-size: 23px;
  }
  .blogDetails .description span {
    font-size: 16px !important;
    line-height: 25px !important;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 25px;
  }

  .navbar {
    padding: 20px 20px;
  }
  .navbar .logo {
    font-size: 18px;
  }

  .home div .intro-text {
    font-size: 18px;
    padding: 0 25px;
  }

  .about {
    padding: 100px 50px 80px;
  }

  .about-container-text {
    font-size: 14px;
    text-align: justify;
  }

  .works {
    padding: 60px 40px;
  }
  .works .work-videos .vid {
    height: 200px;
  }

  .blogs {
    padding: 80px 40px;
  }
  .blogs .view-all {
    margin-top: 30px;
  }

  .contact {
    padding: 50px 40px 100px;
  }

  .footer {
    font-size: 12px;
  }

  .blogDetails {
    padding: 100px 45px 50px;
  }
  .blogDetails .description span {
    font-size: 16px !important;
    line-height: 25px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
